@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Noto+Sans+JP:wght@100&display=swap');
body{
    background-color:darkgray;
    font-family: 'New Tegomin', serif;
}
.main-container{
    text-align: center;
    margin:100px auto;
}
.navbar{
    margin:30px
}
.navbar a{
    margin-left:20px;
    
}
p{
    display: inline;
    margin-top:60px;
    
}
p:hover{
    background:burlywood
}