<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bid</title>
    <link rel="stylesheet" href="/static/stylesheets/Submit_bid.css">
</head>
<body>
    <div class="main-container">
        <div class="information-container">
            {% if x%}
            <p>Thanks for making bid</p>
            <p> {{x}} </p>
            {%endif%}
            {%if not x %}
            <p>You did not submitted Bid</p>
            <a href="{{url_for('placebid')}}">go to bid page</a>
            {%endif%}
            
        </div>
    </div>
</body>
</html>
<body>
   
</body>
